<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<springProperty scope="context" name="springAppName"
		source="spring.application.name" />
	<springProperty scope="context" name="LOGFILENAME"
		source="spring.application.name" defaultValue="defaultLog" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- Log message format -->
		<encoder>
			<!--<pattern>%d{HH:mm:ss.SSS} [${springAppName},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] 
				[%thread] %-5level %logger{36} - %msg%n </pattern> -->
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	<springProfile name="default">
		<property name="APP_PROILE" value="default" />
	</springProfile>
	<springProfile name="test">
		<property name="APP_PROILE" value="default" />
	</springProfile>
	<springProfile name="dev">
		<property name="APP_PROILE" value="dev" />
	</springProfile>
	<springProfile name="uat">
		<property name="APP_PROILE" value="uat" />
	</springProfile>
	<springProfile name="prod">
		<property name="APP_PROILE" value="prod" />
	</springProfile>
	
	<!-- Setting the root level of logging to INFO -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	<logger name="org.springframework" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework.security" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache.camel" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.sap" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.cts" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>